<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Register User</h1>
        <form>
            <label>
                <input type="email" id="register-email" placeholder="Email" required>
            </label>
            <label>
                <input type="password" id="register-password" placeholder="Password" required>
            </label>
            <button type="submit" id="register-user">Register</button>
        </form>
    </div>
    <button id="refresh-token">Refresh</button>
    <div>
        <h1>Login User</h1>
        <form>
            <label>
                <input type="email" id="login-email" placeholder="Email" required>
            </label>
            <label>
                <input type="password" id="login-password" placeholder="Password" required>
            </label>
            <button type="submit" id="login-user">Login</button>
        </form>
    </div>
    <button id="get-properties">Get Properties</button>
</body>
<script src="/js/test.js"></script>
</html>